@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&display=swap');

* {
    box-sizing: border-box;
    color: rgb(211, 226, 226);
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

/* блок первая страница */

.start-page {
    background-image: linear-gradient(rgba(0,0,0,0.1) 60%, rgb(20, 29, 37)), url(./images/freepik__a-man-is-sitting-with-his-back-to-the-center-of-th__61227.png);
    background-size: cover;
    background-position: 50% 80%;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.header__right {
    display: flex;
    position: relative;
    align-self: flex-start;
    flex-shrink: 0;
}

.logo-pic {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
}

.logo-name {
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: auto;
    padding: 10px 100px;
    opacity: 80%; 
}

li:hover {
    color:rgb(227, 184, 131);
}

.header-button {
    background-color: rgb(53, 88, 149);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    
}

.header-button:hover {
    color: rgb(53, 88, 149);
    background-color: rgb(211, 226, 226);

}

.menu-icon {
    display: none;
}

section.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.main__text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
    font-weight: 600;
}

/* форма выбора */

.choose-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 85, 93, 0.526);
    padding: 30px 40px;
    gap: 30px;
    border-radius: 10px;
    max-width: fit-content;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.choose-form__inputs {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

select, input {
    background-color: transparent;
    border-color: aliceblue;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    min-width: 250px;
}

.start__date {
    font-size: 0.9rem;
}


option {
    color: black;
    
   
}

.choose-form__span {
    font-size: 0.8rem;
    padding-left: 10px;
    margin-top: 10px;
}

button.choose-form__search-program {
    padding: 15px 0px;
    align-self: flex-start;
    border-radius: 10px;
    border: none;
    color: rgba(80, 85, 93);
    font-weight: 600;
    min-width: 250px;
    font-size: 0.9rem;
}

/* блок о туре */

.about-tour {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    /* background-image: linear-gradient(rgb(20, 29, 37) 15%, rgb(136, 137, 152)); */
    background-image: radial-gradient( rgb(28, 40, 50),rgb(20, 29, 37) 60%);
    /* background-color: rgb(20, 29, 37); */
    padding: 50px 50px;
}

.about-tour__files {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: flex-start;
 
}

.about-tour__static-pic img{
    max-width: 27vw;
    min-height: 85%;
    border-radius: 1.7rem;
   
}

.about-tour__text {
    max-width: 40vw;
    margin-right: 30px;
}

.player-icon {
    position: absolute;
    left: 83%;
    bottom: 20%;
    cursor: pointer;
    max-width: 50px;
}

.player-icon:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.about-tour__video video {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    border-radius: 1.7rem;
    position: absolute;
    top: 20%;
    left: 40%;
    object-fit: cover; 
    cursor: pointer;
}

.about-tour__video.enlarged {
    width: 250%;
    position: absolute;
    right: -100%;
    top: 5%;
}


/* блок наше предложение */

.our-offer {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-image: linear-gradient(to top, rgba(52, 52, 52, 0.1) , rgb(203, 206, 214)), url(./images/pngwing.com\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;

}

.our-offer__text {
    max-width: 45vw;
}

.our-offer__text p, button, img {
    color: black;

}

.our-offer__text div {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

.our-offer__pics {
    display: grid;
    max-width: 40vw;
    align-content: center;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(10vw, 19.5vw));
    grid-template-rows: minmax(20vh, 35vh) minmax(20vh, 35vh);
    grid-auto-rows: minmax(20vh, 35vh);
    /* grid-template-rows: 60% 60%; */
    gap: 10px;
}

.our-offer__pics img {
    max-width:100%;
   min-height: 100%;
   object-fit: cover;
   opacity: 85%;

}

.offer-pic-1,
.offer-pic-4 {
    border-radius: 0 10%;
}

.offer-pic-2,
.offer-pic-3 {
    border-radius: 10% 0;
}

/* блок рейтинг туров */

.tour-ratings__text {
    text-align: center;
}

.tour-ratings__pics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 20px;
    max-width: vw;
    overflow: hidden;
}

.tour-ratings__pics > div {
    max-width: 30vw;
    min-width: 30vw;
    min-height: 40vw;
    border-radius: 30px;
    background-size: cover;
    position: relative;
}

.tour-ratings__rafting {
    background-image: url(./images/11936-5.jpg);
    overflow: hidden;
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* gap: 20px; */
}

.tour-ratings__pics > div > div {
    /* position: relative; */
    min-height: 40vw;
    max-height: 40vw;
    transform: translateY(75%);
    transition: transform 1.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
   backdrop-filter: blur(20px);
   border-radius: 30px;
   
}

.tour-ratings__pics button {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(45, 45, 45);
    color:rgb(211, 226, 226);
    transition: color 0.6s, background-color 0.6s;
}

.tour-ratings__pics button:hover {
    color: rgb(45, 45, 45);
    background-color:rgb(211, 226, 226);
}

.tour-ratings__pics div:hover {
    transform: translateY(0%);
    
}

.tour-ratings__rafting div div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    line-height: 0.9;
}


.tour-ratings__rafting div div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    line-height: 0.9;
}

.tour-ratings__pics div > div > p {
    margin-top: 50px;
    font-size: 1.2rem;
}


.tour-ratings__pics h3 {
    font-size: 1.5rem;
}

.tour-ratings__pics div div div p {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgba(195, 196, 197, 0.759);
    padding: 10px 20px;
    border-radius: 5px;
    color: azure;
    
}

.tour-ratings__pics span {
    font-size: 0.9rem;
    font-weight: 400;
}



.tour-ratings__night {
    background-image: url(./images/StockCake-Starry\ Night\ Camping_1735062943-7.jpg);
    background-position: bottom;
}

.tour-ratings__cycling {
    background-image: url(./images/40629-7.jpg);
}


/* .tour-ratings__pics img {
    max-width: 30vw;
    min-height: 40vw;
    border-radius: 30px;
    object-fit: cover;
} */


/* блок о трэвел-блогах */
/* блок фотоотчет */
/* блок футер */

@media (max-width: 1000px) {
    .header__right {
        display: none;
    }
    .header-button {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    header {
        margin: 0 0.5rem;
    }
} 



